<div id="at_footer">
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="at_block">
				<div class="copyright">
					<span>&copy; {{date format="YYYY"}} - Artem Ostankov<br />Powered by <a href="http://foundation.zurb.com/">Foundation 5 Framework</a> and <a href="http://ghost.com/">Ghost</a></span>
				</div>
			</div>
		</div>
	</div>
</div>