<div id="at_header">
    <div class="row">
        <div class="medium-4 columns">
            <div class="at_logo_container">
                {{#if @blog.logo}}
                    <a href="/"><img class="at_logo_img" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                    {{else}}
                        <a href="/">
                {{/if}}
                    <span class="at_logo_text">{{@blog.title}}</span></a>
            </div>
        </div>
        <div class="medium-4 columns text-right hide-for-small-only">
            <div class="at_icon_menu">
                <a class="at_icon_menu_item" href="/projects" data-tooltip class="has-tip" title="CV"><span class="fa fa-file-text"></span></a>
                <a class="at_icon_menu_item" href="/cv" data-tooltip class="has-tip" title="Projects"><span class="fa fa-bar-chart-o"></span></a>
                <a class="at_icon_menu_item" href="/blog" data-tooltip class="has-tip" title="Blog"><span class="fa fa-book"></span></a>
            </div>
        </div>
        <div class="medium-4 columns">
            {{> widgets/at_search }}
        </div>
    </div>
</div>