<div class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Main Menu</label></li>
		<li><a class="at_menu_item" href="{{@blog.url}}"><span class="fa fa-home"></span> Home</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/typography"><span class="fa fa-file-text"></span> CV</a></li>
		<li><a class="at_menu_item" href="/cv"><span class="fa fa-bar-chart-o"></span> Projects</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/documentation"><span class="fa fa-book"></span> Blog</a></li>
	</ul>
</div>