<div id="at_top">
	<div class="row" data-equalizer>
		<div class="small-4 column panel" data-equalizer-watch>
            <h2 style="color:white;"><a  href="/cv" role="button">CV</a></h2>

            <p>Interested in a good developer. Check out my CV</p>
        </div>
        <div class="small-4 column panel" data-equalizer-watch>
        	<h2 style="color:white;"><a  href="/projects" role="button">Projects</a></h2>

            <p>Spare-time ! oh, spare-time !! Where are you ?? :) </p>
        </div>
        <div class="small-4 column panel" data-equalizer-watch>
        	<h2 style="color:white;"><a  href="/blog" role="button">Blog</a></h2>

            <p>Thoughts that run away from my head </p>
        </div>
	</div>
	<!-- <div class="row" data-equalizer>
		<div class="small-4 column panel" data-equalizer-watch>
            <p><a  href="cv.html" role="button">View details &raquo;</a></p>
        </div>
        <div class="small-4 column panel" data-equalizer-watch>
            <p><a  href="#projects" role="button">View details &raquo;</a></p>
        </div>
        <div class="small-4 column panel" data-equalizer-watch>
            <p><a  href="/blog" role="button">View details &raquo;</a></p>
        </div>
	</div> -->
</div>